.usersInfo {
    text-align: center;
    h2 {
        padding-top: 7%;
        color: rgba(255, 255, 255, 0.768);
        font-weight: bold;
    }
    h4 {
        padding-top: 2%;
        color: rgba(255, 255, 255, 0.768);
        font-weight: bold;
        span {
            border-bottom: 2px solid #959595;
            padding-bottom: 10px;
        }
    }
    .usersSelect {
        width: 15%;
        margin: auto;
        margin-top: 4%;
        background-color: rgba(230, 230, 230, 0.563);
    }
    .usersTable {
        width: 50%;
        margin: auto;
        padding: 3% 0 10% 0;
        font-weight: bold;
        th {
            color: rgba(39, 39, 39, 0.67);
        }
    }
}
